
<div class="flex justify-center space-x-1 dark:text-gray-100 my-3">
    <button title="previous" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800 "
    (click)="prevPage()"
    [disabled]="currentPage === 1">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
    </button>
    <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold border rounded shadow-md dark:bg-gray-900 " *ngFor="let pageNumber of getPageNumbers()" 
              (click)="changePage(pageNumber)"
              [ngClass]="{'dark:text-violet-400': pageNumber === currentPage, 'dark:border-violet-400': pageNumber === currentPage}">
        {{ pageNumber }}
      </button>
    <button title="next" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </button>
</div>