<form (ngSubmit)="search()" class="flex items-center">
    <input type="text" placeholder="Cerca..." name="search" [(ngModel)]="searchText" class="border p-2 rounded lg:w-1/4 md:w-4/5 text-black m-4"/>
    <button type ="submit" class="px-4 py-2 rounded bg-green-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          
    </button>
</form>

