<div class="flex justify-center w-screen">
    <div class="bg-gray-200 dark:bg-gray-300 text-gray-800 shadow-lg py-2 px-4 rounded-lg p-2 m-2">
        <div class="flex flex-wrap">
            <button class="flex items-center justify-center p-2" (click)="ShowForm()">  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
            <h1  class="flex items-center">aggiungi curriculum</h1>  
        </div>
        <div class="grid grid-cols-1 gap-3" *ngIf="showForm">
            <input accept="text/html,.pdf" (change)="onFileChange($event)" class="block w-full text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-100 dark:border-gray-400 dark:placeholder-gray-400" type="file" multiple>
                <div id="progressContainer">
                    <div *ngFor="let file of selectedFiles" class="progress-bar">
                        <div  class="flex justify-between">
                            <div [style.width.%]="file.progress" class="progress-bar-fill">
                                <span class="justify-start">{{ file.file.name }}</span></div> 
                                    <div class="justify-end">
                                        <button class="flex items-center justify-center" (click)="removeFile(file)">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
            <div *ngIf="!isAtLeastOneCv"  class="text-red-500">
                <p>At least one curriculum (.txt, .pdf) is required</p>
            </div>
            <div class="flex justify-center">
                <button (click)="uploadFiles()" type="submit" class="px-4 py-2 rounded bg-green-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">Invia</button>
            </div>
        </div>
        <div class="fixed top-[25%] right-[25%]" [ngClass]="{ 'hidden': !showModal }">
            <app-modal (close)="closeModal($event)" [finestra]="alert"></app-modal>
        </div>
    </div>
</div>